# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:3000/graphql"

# The same secrets as API for development
JWT_ACCESS_SECRET="qweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe"
JWT_REFRESH_SECRET="qweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe"