DATABASE_URL="postgresql://postgres:postgres@localhost:5432/subscription_tracker"
JWT_ACCESS_SECRET="qweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe"
JWT_REFRESH_SECRET="qweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe"