DATABASE_URL="postgresql://postgres:postgres@localhost:5433/subscription_tracker"
REDIS_URL="redis://localhost:6379"
JWT_ACCESS_SECRET="qweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe"
JWT_REFRESH_SECRET="qweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe"
PORT=3000
NODE_ENV="development"